*.log
*.sublime-project
*.sublime-workspace
*.pyc
node_modules
ows_runtime.map
src/client/build/*
*~
*#
*.pyc
*.rdb
src/server/passwords.json
*.sqlite
**/bin/REGIONS/
**/bin/chart/
**/integration/py/chart/
*.tif