*.log
*.sublime-project
*.sublime-workspace
*.pyc
node_modules
ows_runtime.map
src/client/build/*
*~
*#
*.pyc
*.rdb
src/server/passwords.json
*.sqlite
**/bin/REGIONS/
**/bin/chart/
**/integration/py/chart/
*.tif
src/server/bin/*.png
src/server/bin/SHP
src/server/integration/py/credentials
src/server/integration/py/gee-keys
src/server/integration/py/*.pn	
devops/scripts/dump/
src/server/.gitignore
src/server/.env
src/server/GJSON/campanha_2000_execution.geojson
src/server/GJSON/campanha_2000_original.geojson
src/server/GJSON/pontos_aa_5000.geojson
src/server/GJSON/pontos_aa_5000_part.geojson
src/server/bin/nohupCommand.txt
src/server/log/
src/server/bin/SHP/*
lapig-ee-09144f43f3b5.json
lapig-ee-09144f43f3b5.pem
src/server/images/*
src/server/integration/py/gee-keys/
db/dump/
src/server/bin/GeoJSON/
*.out
.idea
