<div class="container-fluid" ng-controller="CampaignManagementController">
    <!-- Header -->
    <div class="row">
        <div class="col-xs-12">
            <h2>
                <i class="glyphicon glyphicon-cog"></i> 
                Gestão de Campanha: {{details.campaign._id}}
                <button class="btn btn-default pull-right" ng-click="goBack()">
                    <i class="glyphicon glyphicon-arrow-left"></i> Voltar
                </button>
            </h2>
        </div>
    </div>

    <!-- Loading -->
    <div ng-if="loading" class="text-center" style="margin-top: 50px;">
        <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="font-size: 48px;"></i>
        <h3>Carregando dados da campanha...</h3>
    </div>

    <!-- Main Content -->
    <div ng-if="!loading && details">
        <!-- Campaign Info Card -->
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>
                            <i class="glyphicon glyphicon-info-sign"></i> 
                            Informações da Campanha
                            <button class="btn btn-xs btn-default pull-right" ng-click="editCampaign()">
                                <i class="glyphicon glyphicon-edit"></i> Editar
                            </button>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="well text-center">
                                    <h3 class="text-primary">{{details.campaign.totalPoints || 0}}</h3>
                                    <span>Total de Pontos</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="well text-center">
                                    <h3 class="text-success">{{details.campaign.completedPoints || 0}}</h3>
                                    <span>Pontos Concluídos</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="well text-center">
                                    <h3 class="text-warning">{{details.campaign.pendingPoints || 0}}</h3>
                                    <span>Pontos Pendentes</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="well text-center">
                                    <h3 ng-class="getProgressClass(details.campaign.progress)">
                                        {{details.campaign.progress || 0}}%
                                    </h3>
                                    <span>Progresso</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <td><strong>Período:</strong></td>
                                        <td>{{details.campaign.initialYear}} - {{details.campaign.finalYear}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Inspeções necessárias:</strong></td>
                                        <td>{{details.campaign.numInspec}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Tipo de imagem:</strong></td>
                                        <td>{{details.campaign.imageType || 'landsat'}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Parâmetro visual:</strong></td>
                                        <td>{{details.campaign.visParam || 'padrão'}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <td><strong>Mostrar gráfico temporal:</strong></td>
                                        <td>
                                            <span class="label" ng-class="details.campaign.showTimeseries ? 'label-success' : 'label-default'">
                                                {{details.campaign.showTimeseries ? 'Sim' : 'Não'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Mostrar info do ponto:</strong></td>
                                        <td>
                                            <span class="label" ng-class="details.campaign.showPointInfo ? 'label-success' : 'label-default'">
                                                {{details.campaign.showPointInfo ? 'Sim' : 'Não'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Mapas dinâmicos:</strong></td>
                                        <td>
                                            <span class="label" ng-class="details.campaign.useDynamicMaps ? 'label-success' : 'label-default'">
                                                {{details.campaign.useDynamicMaps ? 'Sim' : 'Não'}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Arquivo GeoJSON:</strong></td>
                                        <td>{{details.campaign.geojsonFile || 'Nenhum'}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                        <!-- Progress Bar -->
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar" ng-class="'progress-bar-' + getProgressClass(details.campaign.progress)" 
                                 style="width: {{details.campaign.progress}}%">
                                <span style="line-height: 30px;">{{details.campaign.progress}}% Completo</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Statistics Tabs -->
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: activeTab === 'users'}">
                        <a href="" ng-click="setActiveTab('users')">
                            <i class="glyphicon glyphicon-user"></i> Usuários
                        </a>
                    </li>
                    <li ng-class="{active: activeTab === 'classes'}">
                        <a href="" ng-click="setActiveTab('classes')">
                            <i class="glyphicon glyphicon-tags"></i> Classes de Uso
                        </a>
                    </li>
                    <li ng-class="{active: activeTab === 'regions'}">
                        <a href="" ng-click="setActiveTab('regions')">
                            <i class="glyphicon glyphicon-map-marker"></i> Regiões
                        </a>
                    </li>
                    <li ng-class="{active: activeTab === 'timeline'}">
                        <a href="" ng-click="setActiveTab('timeline')">
                            <i class="glyphicon glyphicon-time"></i> Linha do Tempo
                        </a>
                    </li>
                    <li ng-class="{active: activeTab === 'pending'}">
                        <a href="" ng-click="setActiveTab('pending')">
                            <i class="glyphicon glyphicon-exclamation-sign"></i> Pendentes
                        </a>
                    </li>
                    <li ng-class="{active: activeTab === 'properties'}" ng-if="details.propertyAnalysis">
                        <a href="" ng-click="setActiveTab('properties')">
                            <i class="glyphicon glyphicon-th-list"></i> Análise de Propriedades
                        </a>
                    </li>
                </ul>

                <!-- Tab Content -->
                <div class="tab-content" style="padding: 20px; background: white; border: 1px solid #ddd; border-top: none;">
                    
                    <!-- Users Tab -->
                    <div ng-show="activeTab === 'users'">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Número de Pontos Inspecionados por Usuário</h4>
                                <div id="userInspectionsChart" style="height: 500px;"></div>
                            </div>
                            <div class="col-md-4">
                                <h4>Top 10 Inspetores</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Usuário</th>
                                                <th>Inspeções</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user in details.statistics.users.topInspectors | limitTo:10">
                                                <td>{{$index + 1}}</td>
                                                <td>{{user._id}}</td>
                                                <td>{{user.inspections}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="text-muted">Total de usuários ativos: {{details.statistics.users.total}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Classes Tab -->
                    <div ng-show="activeTab === 'classes'">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Distribuição de Classes de Uso do Solo</h4>
                                <div ng-if="details.statistics.classes.fieldUsed" class="alert alert-info" style="margin-bottom: 10px;">
                                    <i class="fa fa-info-circle"></i> Campo usado para classificação: <strong>{{details.statistics.classes.fieldUsed}}</strong>
                                </div>
                                <div id="landCoverChart" style="height: 500px;"></div>
                            </div>
                            <div class="col-md-4">
                                <h4>Resumo das Classes</h4>
                                <div ng-if="details.statistics.classes.noDataMessage" class="alert alert-warning">
                                    <i class="fa fa-warning"></i> {{details.statistics.classes.noDataMessage}}
                                </div>
                                <div class="table-responsive" ng-if="!details.statistics.classes.noDataMessage">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Classe</th>
                                                <th>Quantidade</th>
                                                <th>%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="class in details.statistics.classes.distribution">
                                                <td>{{class._id || 'Não classificado'}}</td>
                                                <td>{{class.count}}</td>
                                                <td>{{((class.count / details.campaign.completedPoints) * 100).toFixed(1)}}%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Regions Tab -->
                    <div ng-show="activeTab === 'regions'">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Progresso por Estado</h4>
                                <div id="statesChart" style="height: 400px;"></div>
                                <div class="table-responsive" style="margin-top: 15px;">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Estado</th>
                                                <th>Total</th>
                                                <th>Concluídos</th>
                                                <th>%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="state in details.statistics.states.data | limitTo:10">
                                                <td>{{state._id || 'N/A'}}</td>
                                                <td>{{state.total}}</td>
                                                <td>{{state.completed}}</td>
                                                <td>{{(state.completed / state.total * 100).toFixed(0)}}%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4>Progresso por Bioma</h4>
                                <div id="biomesChart" style="height: 400px;"></div>
                                <div class="table-responsive" style="margin-top: 15px;">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Bioma</th>
                                                <th>Total</th>
                                                <th>Concluídos</th>
                                                <th>%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="biome in details.statistics.biomes.data | limitTo:10">
                                                <td>{{biome._id || 'N/A'}}</td>
                                                <td>{{biome.total}}</td>
                                                <td>{{biome.completed}}</td>
                                                <td>{{(biome.completed / biome.total * 100).toFixed(0)}}%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Timeline Tab -->
                    <div ng-show="activeTab === 'timeline'">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Progresso de Inspeções ao Longo do Tempo</h4>
                                <div id="timelineChart" style="height: 400px;"></div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <h5>Média de Tempo por Inspeção</h5>
                                <div id="meanTimeChart" style="height: 300px;"></div>
                            </div>
                            <div class="col-md-6">
                                <h5>Status dos Pontos</h5>
                                <div id="pointsStatusChart" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Tab -->
                    <div ng-show="activeTab === 'pending'">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Distribuição de Pontos Pendentes por Município</h4>
                                <div id="pendingMunicipalitiesChart" style="height: 500px;"></div>
                            </div>
                            <div class="col-md-4">
                                <h4>Top 20 Municípios com Pontos Pendentes</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Município</th>
                                                <th>Estado</th>
                                                <th>Pendentes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in details.statistics.pendingByMunicipality | limitTo:20">
                                                <td>{{$index + 1}}</td>
                                                <td>{{item._id.municipality || 'N/A'}}</td>
                                                <td>{{item._id.state || 'N/A'}}</td>
                                                <td>
                                                    <span class="badge badge-warning">{{item.count}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Properties Analysis Tab -->
                    <div ng-show="activeTab === 'properties'">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Análise de Propriedades Customizadas</h4>
                                <p class="text-muted">Propriedades detectadas automaticamente dos pontos enviados pelos usuários</p>
                                
                                <!-- Visualization Recommendations -->
                                <div ng-if="details.visualizationRecommendations && details.visualizationRecommendations.length > 0">
                                    <h5><i class="glyphicon glyphicon-signal"></i> Visualizações Recomendadas</h5>
                                    <div class="row">
                                        <div class="col-md-6" ng-repeat="rec in details.visualizationRecommendations | limitTo:4">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">
                                                        <span class="label label-primary pull-right">Prioridade {{rec.priority}}</span>
                                                        {{rec.title}}
                                                    </h6>
                                                </div>
                                                <div class="panel-body">
                                                    <p>{{rec.description}}</p>
                                                    <p><strong>Propriedade:</strong> {{rec.property || 'Múltiplas'}}</p>
                                                    <p><strong>Tipo de Visualização:</strong> {{getVisualizationTypeName(rec.visualization)}}</p>
                                                    <button class="btn btn-sm btn-primary" 
                                                            ng-click="renderPropertyChart(rec)"
                                                            ng-disabled="rec.rendered">
                                                        <i class="glyphicon glyphicon-stats"></i> 
                                                        {{rec.rendered ? 'Visualizado' : 'Visualizar'}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Dynamic chart containers -->
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-md-12" ng-repeat="rec in details.visualizationRecommendations" 
                                             ng-if="rec.rendered">
                                            <h5>{{rec.title}}</h5>
                                            <div id="property-chart-{{$index}}" style="height: 400px; margin-bottom: 30px;"></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Properties Summary -->
                                <div ng-if="details.propertyAnalysis">
                                    <h5 style="margin-top: 30px;"><i class="glyphicon glyphicon-list"></i> Resumo das Propriedades</h5>
                                    
                                    <div class="row">
                                        <!-- Categorical Properties -->
                                        <div class="col-md-6">
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">
                                                        <i class="glyphicon glyphicon-tags"></i> Propriedades Categóricas
                                                        <span class="badge pull-right">{{details.propertyAnalysis.categoricalProperties.length}}</span>
                                                    </h6>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>Propriedade</th>
                                                                    <th>Cobertura</th>
                                                                    <th>Valores Únicos</th>
                                                                    <th>Relevância</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="prop in details.propertyAnalysis.categoricalProperties | limitTo:5">
                                                                    <td><code>{{prop.name}}</code></td>
                                                                    <td>{{prop.coverage.toFixed(1)}}%</td>
                                                                    <td>{{prop.uniqueValues}}</td>
                                                                    <td>
                                                                        <div class="progress" style="margin-bottom: 0; height: 10px;">
                                                                            <div class="progress-bar progress-bar-success" 
                                                                                 style="width: {{prop.relevanceScore * 100}}%"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Numeric Properties -->
                                        <div class="col-md-6">
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">
                                                        <i class="glyphicon glyphicon-stats"></i> Propriedades Numéricas
                                                        <span class="badge pull-right">{{details.propertyAnalysis.numericProperties.length}}</span>
                                                    </h6>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>Propriedade</th>
                                                                    <th>Cobertura</th>
                                                                    <th>Min/Max</th>
                                                                    <th>Relevância</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="prop in details.propertyAnalysis.numericProperties | limitTo:5">
                                                                    <td><code>{{prop.name}}</code></td>
                                                                    <td>{{prop.coverage.toFixed(1)}}%</td>
                                                                    <td>
                                                                        <span ng-if="prop.statistics">
                                                                            {{prop.statistics.min.toFixed(1)}} - {{prop.statistics.max.toFixed(1)}}
                                                                        </span>
                                                                    </td>
                                                                    <td>
                                                                        <div class="progress" style="margin-bottom: 0; height: 10px;">
                                                                            <div class="progress-bar progress-bar-success" 
                                                                                 style="width: {{prop.relevanceScore * 100}}%"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <!-- Temporal Properties -->
                                        <div class="col-md-6">
                                            <div class="panel panel-warning">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">
                                                        <i class="glyphicon glyphicon-time"></i> Propriedades Temporais
                                                        <span class="badge pull-right">{{details.propertyAnalysis.temporalProperties.length}}</span>
                                                    </h6>
                                                </div>
                                                <div class="panel-body">
                                                    <div ng-if="details.propertyAnalysis.temporalProperties.length > 0">
                                                        <ul class="list-unstyled">
                                                            <li ng-repeat="prop in details.propertyAnalysis.temporalProperties | limitTo:5">
                                                                <code>{{prop.name}}</code> 
                                                                <span class="text-muted">({{prop.coverage.toFixed(1)}}% cobertura)</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div ng-if="details.propertyAnalysis.temporalProperties.length === 0" class="text-muted">
                                                        Nenhuma propriedade temporal detectada
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Geographic Properties -->
                                        <div class="col-md-6">
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">
                                                        <i class="glyphicon glyphicon-map-marker"></i> Propriedades Geográficas Adicionais
                                                        <span class="badge pull-right">{{details.propertyAnalysis.geographicProperties.length}}</span>
                                                    </h6>
                                                </div>
                                                <div class="panel-body">
                                                    <div ng-if="details.propertyAnalysis.geographicProperties.length > 0">
                                                        <ul class="list-unstyled">
                                                            <li ng-repeat="prop in details.propertyAnalysis.geographicProperties | limitTo:5">
                                                                <code>{{prop.name}}</code> 
                                                                <span class="text-muted">({{prop.uniqueValues}} locais únicos)</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div ng-if="details.propertyAnalysis.geographicProperties.length === 0" class="text-muted">
                                                        Nenhuma propriedade geográfica adicional detectada
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Actions -->
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary" ng-click="loadAvailableProperties()">
                                                <i class="glyphicon glyphicon-refresh"></i> Recarregar Análise
                                            </button>
                                            <button class="btn btn-info" ng-click="exportPropertyAnalysis()">
                                                <i class="glyphicon glyphicon-download"></i> Exportar Análise
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- No property analysis available -->
                                <div ng-if="!details.propertyAnalysis && !details.visualizationRecommendations" 
                                     class="alert alert-info" style="margin-top: 20px;">
                                    <i class="glyphicon glyphicon-info-sign"></i> 
                                    Nenhuma análise de propriedades disponível. 
                                    Certifique-se de que os pontos da campanha possuem propriedades customizadas.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Action Buttons -->
        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="glyphicon glyphicon-flash"></i> Ações</h4>
                    </div>
                    <div class="panel-body">
                        <button class="btn btn-info" ng-click="downloadReport()">
                            <i class="glyphicon glyphicon-download-alt"></i> Baixar Relatório
                        </button>
                        <button class="btn btn-success" ng-click="viewPoints()">
                            <i class="glyphicon glyphicon-map-marker"></i> Gestão de Pontos
                        </button>
                        <button class="btn btn-warning" ng-click="manageLandUse()">
                            <i class="glyphicon glyphicon-tags"></i> Gerenciar Classes
                        </button>
                        <button class="btn btn-primary" ng-click="uploadMorePoints()">
                            <i class="glyphicon glyphicon-upload"></i> Carregar Mais Pontos
                        </button>
                        <button class="btn btn-danger pull-right" ng-click="deleteCampaign()" 
                                ng-disabled="details.campaign.totalPoints > 0">
                            <i class="glyphicon glyphicon-trash"></i> Excluir Campanha
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.glyphicon-refresh-animate {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.badge-warning {
    background-color: #f0ad4e;
}
</style>