
<div style="overflow:hidden">
	<div class="container-fluid" style="margin-top:20px">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="pointsInsp"></div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="totalInspec"></div>
		</div>
		<div class="row">
			<br>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="meanTime"></div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="cachedPoints"></div>
			<div class="row">
				<br>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="agreementPoints"></div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="coverPoints"></div>
			</div>
		</div>
	</div>
</div>