
<div style="overflow:hidden">
	<div class="container-fluid" style="margin-top:20px">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="pointsInsp"></div>
			<div class="col-xs-11 col-sm-11 col-md-5 col-lg-5" id="totalInspec"></div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ></div>
		</div>
		<div class="row">
			<br>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="meanTime"></div>
			<div class="col-xs-11 col-sm-11 col-md-5 col-lg-5" id="cachedPoints"></div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
			<div class="row">
				<br>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="agreementPoints"></div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="coverPoints"></div>
				<div class="row"></div>
			</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="left: 50px">
			<button class="btn btn-success" ng-click="setTable()" aria-label="Refresh">
        <img class="image" src="assets/refresh.svg"></img>
      </button>
			<table class="table table-condensed table-users">
				<thead>
					<tr>
						<th>Nome: </th>
						<th>Status: </th>
						<th>Ponto Atual: </th>
						<th>Data: </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="colName in tableStatus track by $index">
						<td> {{colName.name}}</td>
						<td> {{colName.status}}</td>
						<td> {{colName.atualPoint}}</td>
						<td> {{colName.dateLastPoint}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>