<div class="row form-panel">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<form ng-show="showForm" class="form-signin">
			<img class="img-responsive" src="assets/lapig.png" />
			<div class="form-signin-heading" >Temporal Visual Inspection</div>
		  <input class="form-control field-login" type="text" placeholder="Nome" ng-model="name">
		  <input class="form-control field-login" type="password" placeholder="Senha" ng-model="senha">
		  <input class="form-control field-login" type="text" placeholder="Campanha" ng-model="campaign">
		  <div ng-show="showMsg" class="alert alert-warning input" role="alert">Falha ao efetuar o login</div>
		  <button class="btn btn-lg btn-default btn-block" ng-click="submit(name, senha, campaign)" type="submit">Entrar</button>
		</form>
	</div>
</div>
