<div ng-controller="navController" class="navbar-fixed-top">
  <nav class="navbar navbar-inverse container-fluid" ng-show="user.type == 'inspector'">
    <div class="blog-masthead row">
      <div class="col-md-6">
          <span class="navbar-brand" style="font-weight: 900;">{{current}}/{{total}} {{ 'NAVBAR.POINTS' | i18n }}</span>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <label class="pull-right">
          <button style="margin-top: 7px;" type="button" class="btn btn-danger" href="#" class="glyphicon glyphicon-off" ng-click="logoff()" style="color:white">{{ 'COMMON.LOGOUT' | i18n }}</button>
        </label>
        <label class="pull-right" style="margin-right: 5px;">
          <button type="button" style="margin-top: 7px;" class="btn btn-info" ng-click="openTickets()" title="{{ 'TICKETS.TITLE' | i18n }}">
            <i class="fa fa-ticket"></i> {{ 'TICKETS.TITLE' | i18n }}
          </button>
        </label>
        <!-- Language Selector for Inspector -->
        <language-selector class="pull-right" style="margin-right: 10px; margin-top: 11px;"></language-selector>
        <label class="user-info pull-right">
          <b>{{user.name}}</b><br>
          {{count}} {{ 'NAVBAR.INSPECTED_POINTS' | i18n }}
        </label>
        <!-- TKT-000009 — Widget de meta semanal (apenas inspetores com meta definida) -->
        <div class="weekly-progress-widget pull-right" ng-show="weeklyProgress && weeklyProgress.targetEffective"
             style="margin: 6px 10px 0 0; min-width: 180px; color: #fff;">
          <div style="font-size: 11px; line-height: 1.1;">
            Meta: <b>{{ weeklyProgress.completed }}/{{ weeklyProgress.targetEffective }}</b> ({{ weeklyProgress.percent }}%)
          </div>
          <div style="height: 6px; background: rgba(255,255,255,0.2); border-radius: 3px; overflow: hidden; margin-top: 2px;">
            <div ng-style="{ width: weeklyProgress.percent + '%' }"
                 style="height: 100%; transition: width 0.3s ease;"
                 ng-class="{ 'wp-complete': weeklyProgress.goalReached }"
                 ng-attr-style="background: {{ weeklyProgress.goalReached ? '#48bb78' : '#f6ad55' }}; width: {{ weeklyProgress.percent }}%; height: 100%;"></div>
          </div>
          <div ng-show="weeklyProgress.carryOverIn > 0" style="font-size: 10px; opacity: 0.8;">
            +{{ weeklyProgress.carryOverIn }} de semanas anteriores
          </div>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-inverse container-fluid" ng-show="user.type == 'supervisor'">
    <div class="blog-masthead row">
      <div class="col-md-12">
        <ul class="col-md-4 nav navbar-nav" style="float: left; margin-top: 9px; margin-left: -10px">
          <a ng-href="#/dashboard" style="color: white">&nbsp;{{ 'NAVBAR.DASHBOARD' | i18n }}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-href="#/supervisor" style="color: white">{{ 'NAVBAR.POINTS' | i18n }}</a>
        </ul>
        <div class="col-md-4" ng-show="user" style="float: left">
          <h3><center><span style="color: #FFFFFF"> {{user.campaign._id}} </span></center></h3>
        </div>
        <div class="col-md-4" style="display: flex; justify-content: flex-end; align-items: center;">
          <!-- Language Selector -->
          <language-selector style="margin-right: 10px;"></language-selector>
          <button type="button" class="btn btn-info" ng-click="openTickets()" style="color:white; margin-right: 5px"><i class="fa fa-ticket"></i> {{ 'TICKETS.TITLE' | i18n }}</button>
          <button type="button" class="btn btn-success" href="#" ng-click="downloadFinalReport()" style="color:white; margin-right: 5px">{{ 'NAVBAR.INSPECTION_REPORT' | i18n }}</button>
          <button type="button" class="btn btn-danger" href="#" ng-click="logoff()" style="color:white">{{ 'COMMON.LOGOUT' | i18n }}</button>
        </div>
      </div>
    </div>
  </nav>
</div>
