<div class="overlay" ng-show="showloading">
    <div class="overlay-inner">
        <span class="loader overlay-content"></span>
    </div>
</div>

<div class="container-fluid" style="overflow: hidden;" >
    <div class="row">
        <div class="row navbar-fixed-top" style="background: white; top: 40px; padding-top: 3px" ;>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <script>
                    function maxLengthCheck(object) {
                        if (object.value.length > object.maxLength)
                            object.value = object.value.slice(0, object.maxLength)
                    }

                    function isNumeric(evt) {
                        var theEvent = evt || window.event;
                        var key = theEvent.keyCode || theEvent.which;
                        key = String.fromCharCode(key);
                        var regex = /[0-9]/;
                        if (!regex.test(key)) {
                            theEvent.returnValue = false;
                            if (theEvent.preventDefault) theEvent.preventDefault();
                        }
                    }
                </script>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 filterMediumLeft"
                     style="padding-bottom: 5px; padding-left: 5px;">
                    <form class="form-inline" style="margin-top: 0px;" ng-submit="submit(point.index)">
                        <input type="index" ng-disabled="modeEdit" onkeypress="return isNumeric(event)"
                               oninput="maxLengthCheck(this)" maxlength="5" min="0" max="99999"
                               style="width: 66px; display: inline;" class="form-control" id="index" placeholder="index"
                               ng-model="point.index">
                        <button type="submit" class="btn btn-success btn-navbar"
                                ng-disabled="point.index > total || point.index < 1 || modeEdit"
                                ng-click="submit(point.index)">{{ 'COMMON.SEARCH' | i18n }}
                        </button>
                        <div class="form-inline" style="display: inline; margin-top: 0px;">
                            <button ng-click="submit(point.index-1)"
                                    ng-disabled="point.index <= 1 || point.index > total || modeEdit" type="button"
                                    class="btn btn-primary btn-navbar glyphicon glyphicon-chevron-left"></button>
                            <span>{{point.index}}/{{total}}</span>
                            <button ng-click="submit(point.index+1)"
                                    ng-disabled="point.index >= total || point.index < 1 || modeEdit" type="button"
                                    class="btn btn-primary btn-navbar glyphicon glyphicon-chevron-right"></button>
                        </div>
                        <div style="width: auto">
                            <input type="radio" ng-disabled="modeEdit" ng-change="submit(1)" ng-model="typeSort"
                                   value="sortedIndex" ng-checked="true"><label style="font-size: 15px">{{ 'SUPERVISOR.FILTERS.INDEX' | i18n }}</label>
                            <input type="radio" ng-disabled="modeEdit" ng-change="submit(1)" ng-model="typeSort"
                                   value="timeInspection"><label style="font-size: 15px;"> {{ 'SUPERVISOR.FILTERS.TIME' | i18n }}</label>
                            <input type="radio" ng-disabled="modeEdit" ng-change="submit(1)" ng-model="typeSort"
                                   value="agreementPoint"><label style="font-size: 15px">{{ 'SUPERVISOR.FILTERS.CONSOLIDATED' | i18n }}</label>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="width: auto; float: none;">
                    <form>
                        <div class="form-group">
                            <label class="col-sm-1 col-form-label"
                                   style="font-size: 15px; width: auto;">{{ 'SUPERVISOR.FILTERS.CLASSES' | i18n }}:</label>
                            <div class="col-sm-3" style="width: auto;">
                                <select ng-change="submit(1)" ng-disabled="modeEdit" class="form-control"
                                        ng-model="selectedLandUse"
                                        ng-options="landUse for landUse in landUses"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 col-form-label"
                                   style="font-size: 15px; width: auto;">{{ 'SUPERVISOR.FILTERS.USERS' | i18n }}:</label>
                            <div class="col-sm-3" style="width: auto;">
                                <select ng-change="submit(1)" ng-disabled="modeEdit" class="form-control"
                                        ng-model="selectUserNames"
                                        ng-options="userName for userName in userNames"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label ng-hide="isChaco" class="col-sm-1 col-form-label"
                                   style="font-size: 15px; width: auto;">{{ 'SUPERVISOR.FILTERS.BIOME' | i18n }}:</label>
                            <label ng-show="isChaco" class="col-sm-1 col-form-label"
                                   style="font-size: 15px; width: auto;">{{ 'SUPERVISOR.FILTERS.REGION' | i18n }}:</label>
                            <div class="col-sm-3" style="width: auto;">
                                <select ng-change="submit(1)" ng-disabled="modeEdit" class="form-control"
                                        ng-model="selectBiomes" ng-options="biome for biome in biomes"></select>
                            </div>
                        </div>
                        <div ng-hide="isChaco" class="form-group">
                            <label class="col-sm-1 col-form-label"
                                   style="font-size: 15px; width: auto;">{{ 'SUPERVISOR.FILTERS.STATE' | i18n }}:</label>
                            <div class="col-sm-3" style="width: auto;">
                                <select ng-change="submit(1)" ng-disabled="modeEdit" class="form-control"
                                        ng-model="selectUf" ng-options="uf for uf in stateUF"></select>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div ng-class="getPointInfoClass()" >
                <div class="borderPoint" style="margin-bottom: 1px; padding: 10px 15px; height: 222px; overflow-y: auto;">
                    <!-- Título do Ponto -->
                    <div style="margin-bottom: 10px; text-align: center;">
                        <h4 style="margin: 0; color: #333; font-size: 18px;">{{ 'SUPERVISOR.POINT_INFO.POINT_NUMBER' | i18n }} {{ point.originalIndex }}</h4>
                    </div>
                    
                    <!-- Localização -->
                    <div  ng-show="showPointInfo" style="margin-bottom: 10px; padding: 8px; background-color: #f8f9fa; border-radius: 4px;">
                        <h5 style="margin: 0 0 6px 0; font-size: 13px; color: #666; font-weight: bold;">{{ 'SUPERVISOR.POINT_INFO.LOCATION' | i18n }}</h5>
                        <div ng-hide="isChaco || isRaisg" style="margin-bottom: 3px; font-size: 12px;">
                            <span style="color: #888;">{{ 'SUPERVISOR.POINT_INFO.BIOME' | i18n }}:</span> <strong>{{point.biome}}</strong>
                        </div>
                        <div ng-show="isChaco" style="margin-bottom: 3px; font-size: 12px;">
                            <span style="color: #888;">{{ 'SUPERVISOR.POINT_INFO.REGION' | i18n }}:</span> <strong>{{point.county}}</strong>
                        </div>
                        <div ng-show="isRaisg" style="margin-bottom: 3px; font-size: 12px;">
                            <span style="color: #888;">{{ 'SUPERVISOR.POINT_INFO.COUNTRY' | i18n }}:</span> <strong>{{point.county}}</strong>
                        </div>
                        <div ng-hide="isChaco || isRaisg" style="margin-bottom: 3px; font-size: 12px;">
                            <span style="color: #888;">{{ 'SUPERVISOR.POINT_INFO.MUNICIPALITY' | i18n }}:</span> <strong>{{point.county}} - {{point.uf}}</strong>
                        </div>
                        <div ng-show="isChaco" style="margin-bottom: 3px; font-size: 12px;">
                            <span style="color: #888;">{{ 'SUPERVISOR.POINT_INFO.MAP' | i18n }}:</span> <strong>{{point.biome}}</strong>
                        </div>
                        <div ng-show="isRaisg" style="font-size: 12px;">
                            <span style="color: #888;">{{ 'SUPERVISOR.POINT_INFO.BIOME' | i18n }}:</span> <strong>{{point.biome}}</strong>
                        </div>
                    </div>
                    
                    <!-- Coordenadas -->
                    <div style="margin-bottom: 10px; padding: 8px; background-color: #f8f9fa; border-radius: 4px;">
                        <h5 style="margin: 0 0 6px 0; font-size: 13px; color: #666; font-weight: bold;">{{ 'SUPERVISOR.POINT_INFO.COORDINATES' | i18n }}</h5>
                        <div style="margin-bottom: 3px; font-size: 12px;">
                            <span style="color: #888;">Lat/Lon:</span> <strong>{{point.lat | number:4}}, {{point.lon | number:4}}</strong>
                        </div>
                        <div style="font-size: 12px;">
                            <span style="color: #888;">Lon/Lat:</span> <strong>{{point.lon | number:4}}, {{point.lat | number:4}}</strong>
                        </div>
                    </div>
                    
                    <!-- Tempo de Inspeção -->
                    <div style="padding: 8px; background-color: #e3f2fd; border-radius: 4px;">
                        <h5 style="margin: 0 0 6px 0; font-size: 13px; color: #1976d2; font-weight: bold;">{{ 'SUPERVISOR.POINT_INFO.STATISTICS' | i18n }}</h5>
                        <div style="font-size: 12px;">
                            <span style="color: #1565c0;">{{ 'SUPERVISOR.POINT_INFO.INSPECTION_TIME' | i18n }}:</span> <strong>{{timeInspectionPoint}} {{ 'COMMON.SECONDS' | i18n }}</strong>
                        </div>
                    </div>

                    <!-- Botões de Ferramentas -->
                    <div class="ferramentas col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 5px 10px;">
                        <button ng-click="changePeriod()" class="btn btn-warning btn-sm" style="margin-right: 5px;">
                            <i class="glyphicon glyphicon-calendar"></i> {{ 'SUPERVISOR.ACTIONS.CHANGE_PERIOD' | i18n }}
                        </button>
                        <button ng-click="getKml()" class="btn btn-success btn-sm" style="margin-right: 5px;">
                            <i class="glyphicon glyphicon-globe"></i> {{ 'SUPERVISOR.ACTIONS.GOOGLE_EARTH' | i18n }}
                        </button>
                        <button ng-if="objConsolidated.length > 0" ng-hide="buttonEdit == true"
                                ng-click="editClass()" class="btn btn-primary btn-sm" style="margin-right: 5px;">
                            <i class="glyphicon glyphicon-pencil"></i> {{ 'COMMON.EDIT' | i18n }}
                        </button>
                        <button ng-hide="buttonEdit == false" ng-click="saveClass()"
                                ng-submit="submit(1)" class="btn btn-primary btn-sm" style="margin-right: 5px;">
                            <i class="glyphicon glyphicon-floppy-disk"></i> {{ 'COMMON.SAVE' | i18n }}
                        </button>
                        <button ng-if="point.inspection.length > 0" ng-click="removeInspections()"
                                ng-submit="submit(1)" class="btn btn-danger btn-sm" style="margin-right: 5px;">
                            <i class="glyphicon glyphicon-trash"></i> {{ 'COMMON.REMOVE' | i18n }}
                        </button>
                        <button ng-click="downloadCSVBorda()" ng-submit="submit(1)"
                                class="btn btn-info btn-sm">
                            <i class="glyphicon glyphicon-download-alt"></i> {{ 'SUPERVISOR.ACTIONS.DOWNLOAD_CSV' | i18n }}
                        </button>
                    </div>
                </div>
            </div>
            <div ng-class="getTableClass()" style="height: 220px; overflow-y: scroll;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 10px;">
                    <button style="float: left; margin-right: 5px;" ng-disabled="modeEdit" class="btn cal-btn"
                            ng-repeat="element in dataTab" ng-click="sortTimeInspection(element)"
                            ng-class="{activeButton: element.checked, 'btn-default': !element.checked}">{{element.name}}
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 tableSmallLeftAdjustHeightMax tableLargeLeft tableMediumLeft tableSmallLeft borderPoint"
                     style="border-right: 0px; padding-right: 0px; padding-left: 0px; height: auto; padding-bottom: 0px;">
                    <table class="table table-condensed table-users">
                        <thead ng-hide="point.inspection == 0" style="font-weight: bold;">
                        <tr>
                            <td>User</td>
                        </tr>
                        </thead>
                        <tbody ng-hide="point.inspection == 0">
                        <tr ng-if='dataTab[0].checked' ng-repeat="inspection in point.inspection">
                            <td>{{inspection.userName}}</td>
                        </tr>
                        <tr ng-class="{boldElem: ($index == (point.dataPointTime.length - 1))}"
                            ng-if='dataTab[1].checked' ng-repeat="p in point.dataPointTime track by $index">
                            <td>{{p.name}}</td>
                        </tr>
                        </tbody>
                        <tfoot ng-if="objConsolidated.length < point.inspection.length"
                               style="font-size: 14px; font-weight: bold;">
                        <td ng-hide='dataTab[0].checked'>{{ 'SUPERVISOR.POINT_INFO.CONSOLIDATED_CLASS' | i18n }}</td>
                        </tfoot>
                        <tfoot ng-if="objConsolidated.length >= point.inspection.length"
                               style="font-size: 14px; font-weight: bold;">
                        <td ng-show='dataTab[0].checked'>{{ 'SUPERVISOR.POINT_INFO.CONSOLIDATED_CLASS' | i18n }}</td>
                        </tfoot>
                    </table>
                </div>
                <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9 tableLargeRight tableMediumRight tableSmallRight borderPoint"
                     style="border-left: 0px; overflow-x: scroll; padding-left: 0px;">
                    <table ng-hide="point.inspection == 0" class="table table-condensed table-years">
                        <thead>
                        <tr>
                            <td style="font-weight: bold; line-height: 1.42857143;" ng-if='dataTab[0].checked' ng-repeat="year in point.years">
                                {{year}}
                            </td>
                            <td style="font-weight: bold;" ng-if='dataTab[1].checked'
                                ng-repeat="point in dataTimePoints">{{point.data}}
                            </td>
                        </tr>
                        </thead>
                        <tbody ng-hide="point.inspection == 0">
                        <tr ng-if='dataTab[0].checked' ng-repeat="inspection in point.inspection">
                            <td ng-repeat="landUse in inspection.landUse track by $index">{{landUse}}</td>
                        </tr>
                        <tr ng-class="{boldElem: ($index == (point.dataPointTime.length - 1))}"
                            ng-if='dataTab[1].checked' ng-repeat="pointTime in point.dataPointTime">
                            <td>{{pointTime.totalPointTime}}</td>
                            <td>{{pointTime.meanPointTime | number:2 }}</td>
                        </tr>
                        </tbody>
                        <tfoot ng-hide="buttonEdit == false"
                               style="font-size: 14px; font-weight: bold; white-space: normal; line-height: 1.42857143;">
                        <td ng-repeat="x in objConsolidated track by $index">
                            <!-- change service here -->
                            <select ng-if='dataTab[0].checked'
                                    ng-options="landUse for landUse in getLandUses track by landUse"
                                    ng-model="selectedLandUses[$index]" ng-change="changeClass($index)"></select>
                        </td>
                        </tfoot>
                        <tfoot ng-hide="buttonEdit == true" style="font-size: 14px; font-weight: bold;">
                        <td ng-if='dataTab[0].checked' style="line-height: 1.42857143;" ng-repeat="landUse in objConsolidated track by $index">
                            {{landUse}}
                        </td>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 380px;">
            <div class="row">
                <span ng-hide="isSentinel" class="pull-left" style="font-weight: bold; font-size: 18px; margin:5px 5px 5px 5px;">
                    {{ 'SUPERVISOR.MAP.LANDSAT_IMAGES' | i18n }}
                </span>
                
                <!-- Seletor de visparam Landsat - só mostra se visParam vier da campanha e o ponto estiver carregado -->
                <div ng-show="!isSentinel && hasVisParam && point" class="pull-left" style="margin: 5px 0 5px 20px;">
                    <label class="radio-visparam" style="margin-right: 10px;">
                        <input type="radio" 
                               ng-model="landsatVisparam" 
                               value="landsat-tvi-true"
                               ng-change="updateLandsatVisparam()">
                        {{ 'SUPERVISOR.MAP.NATURAL_COLOR' | i18n }}
                    </label>
                    <label class="radio-visparam" style="margin-right: 10px;">
                        <input type="radio" 
                               ng-model="landsatVisparam" 
                               value="landsat-tvi-agri"
                               ng-change="updateLandsatVisparam()">
                        {{ 'SUPERVISOR.MAP.AGRICULTURE' | i18n }}
                    </label>
                    <label class="radio-visparam">
                        <input type="radio" 
                               ng-model="landsatVisparam" 
                               value="landsat-tvi-false"
                               ng-change="updateLandsatVisparam()">
                        {{ 'SUPERVISOR.MAP.FALSE_COLOR' | i18n }}
                    </label>
                </div>
                <span ng-show="isSentinel" class="pull-left" style="font-weight: bold; font-size: 18px; margin:5px 5px 5px 5px;">
                    {{ 'SUPERVISOR.MAP.SENTINEL_IMAGES' | i18n }}  <span ng-hide="isRaisg" class="titleMaps">RBG(SWIR16,NIR,RED)</span>
                </span>
                
                <!-- Container com Bootstrap Grid -->
                <div class="row maps-grid" style="margin: 0;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 0;">
                    <div ng-repeat="map in maps" ng-class="getMapBoxClass(maps.length)">
                        <!-- Header do mapa com informações -->
                        <div class="map-header">
                            <span>{{map.date | date: 'dd/MM/yyyy'}}</span>
                            <span>{{periodo}}</span>
                        </div>
                        
                        <!-- Botão do Planet Mosaics -->
                        <span class="planet-button" ng-if="hasMosaicForYear(map.date | date: 'yyyy')" >
                            <button class="btn btn-icon" ng-click="openMosaicDialog(map, point, config)" title="Mosaicos Planet">
                                <i class="fa fa-camera"></i>
                            </button>
                        </span>

                        <!-- Usar landsat-map para mapas dinâmicos, senão inspection-map -->
                        <landsat-map ng-if="useDynamicMaps === true && !isSentinel"
                                     lon="point.lon"
                                     lat="point.lat"
                                     zoom="config.zoomLevel"
                                     period="period"
                                     year="map.year"
                                     visparams="['landsat-tvi-true', 'landsat-tvi-agri', 'landsat-tvi-false']">
                        </landsat-map>

                        <inspection-map ng-if="useDynamicMaps !== true || isSentinel"
                                        lon="point.lon"
                                        lat="point.lat"
                                        bounds="map.bounds"
                                        zoom="config.zoomLevel"
                                        tms-url="map.url">
                        </inspection-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bold" style="margin-top: 50px" ng-show="showTimeseries">
            <fieldset ng-show="showChartsLandsat">
                <span style="font-size: 18px; font-weight: bold;">{{ 'SUPERVISOR.CHARTS.LANDSAT_SERIES' | i18n }}:</span>
                <div id="LANDSAT"></div>
            </fieldset>
            <fieldset >
                <span ng-show="showCharts" style="font-size: 18px; font-weight: bold;">{{ 'SUPERVISOR.CHARTS.MODIS_SERIES' | i18n }}:</span>
                <div id="NDVI"></div>
            </fieldset>
            <fieldset ng-show="showChartsNDDI">
                <span style="font-size: 18px; font-weight: bold;">{{ 'SUPERVISOR.CHARTS.NDDI_SERIES' | i18n }}:</span>
                <div id="NDDI"></div>
            </fieldset>
        </div>
    </div>
</div>
