<div class="container-fluid">
	<div class="row">
		<div class="col-fixed-310">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<legend>Informação de localização</legend>
						<p><b>Bioma:</b> {{point.biome}}</p>
						<p><b>Municipio:</b> {{point.county}} - {{point.uf}}</span>
						<p><b>Coordenadas:</b> {{point.lon | number:4}}, {{point.lat | number:4}} </p>
						<fieldset>
							<legend>Uso e Cobertura da Terra:</legend>
				  		<input style="margin-top: 0px;" ng-click="changePeriod()" type="button" class="btn btn btn-link pull-left" value="Alterar Período">
				  		<input style="margin-top: 0px;" ng-click="getKml()" type="button" class="btn btn btn-link pull-left" value="Google Earth">
						</fieldset>
			  	</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<form class="form-inline form-lclu" ng-repeat="answer in answers">
							<label class="form-label-lclu" style="margin-right: 24px;">Entre</label><select ng-disabled='answers.length != ($index + 1)' class="form-inline form-control form-year-lclu" ng-model="answer.initialYear" ng-options="x for x in optionYears[$index]"></select>
						  <label class="form-label-lclu">e</label><select ng-disabled='answers.length != ($index + 1)' class="form-inline form-control form-year-lclu" ng-model="answer.finalYear" ng-options="y for y in optionYears[$index]"></select>
							<br><label style="margin: 10px;">Classe: </label><select style="width: 75%;" ng-disabled='answers.length != ($index + 1)' class="form-control" ng-model="answer.landUse" ng-options="z for z in config.landUse"></select>
						</form>
						<input type="button" style="margin-right:5px" class="btn btn-warning pull-left" ng-disabled="answers[answers.length - 1].finalYear == config.finalYear" ng-click="formPlus()" value="+">
						<input type="button" class="btn btn-danger pull-left" ng-click="formSubtraction()" ng-disabled="answers.length == 1" value="-">
						<input type="button" class="btn btn-success pull-right" ng-click="submitForm()" value="Enviar" ng-disabled='onSubmission'>
						<div class="pull-right button-align">
	            <b>{{counter}} s</b>
	          </div>
					</div>
				</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-offset-310">
			<div class="row">
				<fieldset>
				<legend>Imagens Landsat <span style=" font-size: 14px; color: gray;">RBG(NIR,SWIR,RED)</span><span style=" font-size: 13px; color: gray; margin-top: 10px;" class="pull-right">Clique no mapa para desabilitar a localização do ponto</span></legend>
					<div ng-repeat="map in maps" ng-class="(size == 3) ? 'ee-mapbox col-xs-3 col-sm-3 col-md-3 col-lg-3' : 'ee-mapbox col-xs-2 col-sm-2 col-md-2 col-lg-2'" style="border: 1px solid black; padding-left: 0px; padding-right: 0px">
						<span style="font-weight: bold;">{{map.date | date:'dd/MM/yyyy'}}</span><span style="margin-left: 132px; font-weight: bold;">{{periodo}}</span>
						<inspection-map lon="point.lon" lat="point.lat" zoom="config.zoomLevel" tms-url="{{map.url}}" />
					</div>
				</fieldset>
		</div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-offset-310">
  	<fieldset>
			<legend>Série temporal MODIS:</legend>
  		<div id="modis" style="width:100%;height:250px;"></div>
  	</fieldset> 
  </div>
</div>