<nav class="navbar navbar-inverse container-fluid">  
  <div class="blog-masthead row">          
    <div class="col-md-6">            
        <a class="navbar-brand" style="font-weight: 900;">{{data.current}}/{{data.total}} Pontos</a>
    </div>
    <div class="col-md-6">
      <label class="pull-right">
        <button type="button" class="btn btn-danger">
          <a href="#" class="glyphicon glyphicon-off" ng-click="logoff()" style="color:white"> Sair</a>
        </button>      
      </label>
    </div>  
  </div>  
</nav>
<div class="container-fluid" ng-show="data.current <= data.total && data.point">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">      
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h4><input type="checkbox" class="form-check-input" ng-model="pointEnabled1" >
          {{data.point.images[1].date | date:'dd/MM/yyyy'}} <small> - Periodo {{data.point.images[1].period}}</small></h4>
          <div ng-show="pointEnabled1" class="img-responsive pull-left" data-zoom-factor="5" data-glass-width="200" data-glass-height="200" data-ng-magnify image-src="data:image/png;base64,{{data.point.images[1].imageBaseRef}}"></div>
          <div ng-hide="pointEnabled1" class="img-responsive pull-left" data-zoom-factor="5" data-glass-width="200" data-glass-height="200" data-ng-magnify image-src="data:image/png;base64,{{data.point.images[1].imageBase}}"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h4 class="pull-left">
            <input type="checkbox" class="form-check-input" ng-model="pointEnabled2">
            {{data.point.images[0].date | date:'dd/MM/yyyy'}} <small> - Periodo {{data.point.images[0].period}} </small> 
          </h4>
          <div ng-show="pointEnabled2" class="img-responsive pull-left" data-zoom-factor="5" data-glass-width="200" data-glass-height="200" data-ng-magnify image-src="data:image/png;base64,{{data.point.images[0].imageBaseRef}}"></div>
          <div ng-hide="pointEnabled2" class="img-responsive pull-left" data-zoom-factor="5" data-glass-width="200" data-glass-height="200" data-ng-magnify image-src="data:image/png;base64,{{data.point.images[0].imageBase}}"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="center-block-next">
            <img class="img-responsive" data-ng-src="data:image/png;base64,{{data.point.modis}}" />
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                   
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> 
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4>Dados auxiliares <span ng-hide="suportData" class="pull-right glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></h4>
          <b>Bioma:</b> {{data.point.biome}} <br><br>
          <b>Município</b>: {{data.point.county}} - {{data.point.uf}} <br><br>
          <b>Lotação bovina:</b> {{suportData.value}} <br><br>
          <b>Produção de leite</b>: {{suportData.leite}} <br><br>
          <b>Desmat. acum. (2008 à 2015)</b>: {{suportData.desmatamento}} <br><br> <br><br>
          <b style="text-decoration: underline;">Área relativa do município</b> <br><br>
          <b>Cana:</b> {{suportData.cana}} <br><br>
          <b>Soja:</b> {{suportData.soja}} <br><br>
          <b>Milho</b>: {{suportData.milho}} <br><br>
          <b>Algodão:</b> {{suportData.algodao}} <br><br>
          <b>Ativo ambiental:</b> {{suportData.ativos}} <br><br>
          <b>Vegetação nativa:</b> {{suportData.vegetacao}} <br><br>
          <b>Floresta plantada</b>: {{suportData.floresta}} <br><br>
          <input style="margin-top: 18px;" ng-click="getKml()" type="button" class="btn btn-info float-left" value="Visualizar no Google Earth">
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="border-left: 1px solid silver;">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4>Uso da terra</h4>
          <label class="form-control" ng-repeat="n in landuseValues">
            <input ng-model="formData.landUse" type="radio" name="landUse" value="clas" ng-value="n"> {{n}}            
          </label>                       
        </div>        
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
          <h4>Índice de certeza</h4>
          <label class="form-control" ng-repeat="n in certaintyIndexValues">
            <input ng-model="formData.certaintyIndex" type="radio" name="certaintyIndex" value="ass" ng-value="n"> {{n}}
          </label>            
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="pull-left button-align" style="padding-top: 15px;">
            <b>{{counter}} s</b>
          </div>
          <div class="pull-right  button-align">
            <button ng-click="submitPoint()" type="button" class="btn btn-success float-right" ng-disabled="!formData.landUse || !formData.certaintyIndex">Enviar dados</button>
          </div>
        </div>          
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" ng-show="!data.point">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="center-block">
        <h1><b>A verificaçao dos pontos foi concluida</b></h1>
        <br>
        <br>
        <br>
        <img class="img-responsive" data-ng-src="../assets/finish.jpg"/>
      </div>
    </div>    
  </div>
</div>
<script>
  var socket = io();
</script>